@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  border: 0px solid transparent;
  padding: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: darkslategrey;
  background-color: #242424;
}

button:hover {
  background-color: darkslategray;
  color: #242424;
  box-shadow: rgba(123, 123, 130, 0.25) 0px 13px 27px -5px,
    rgba(163, 142, 142, 0.3) 0px 8px 16px -8px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 6em;
  margin-top: 30px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo-text {
  font-family: "Barriecito", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  margin: 35px 0;
  color: darkslategray;
}

.game-cont {
  display: flex;
  flex-direction: column;
  background-color: #2a2727;
  max-width: 700px;
  padding: 30px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 15px 0;
}

.player-cont {
  display: flex;
  gap: 70px;
}

.player {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 3px;
}

.player-active {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid darkslategrey;
}

.player-input {
  padding: 7px;
  border: 0px solid burlywood;
  color: rgb(74, 103, 103);
  background-color: #2c2a2a;
  pointer-events: none;
}

.player-input-edit {
  padding: 7px;
  border: 0px solid burlywood;
  background-color: darkslategray;
  pointer-events: visible;
}

.player-input:focus {
  color: rgb(74, 103, 103);
  background-color: #2c2a2a;
}

.player-symbol {
  color: darkslategray;
}

.board-cont {
  margin: 25px 30px 0 30px;
}

.board-row {
  display: flex;
}

.board-btn {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: darkslategray;
  color: #242424;
  font-size: 46px;
  font-family: "Barriecito", serif;
}

.board-btn-dis {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(76, 78, 78);
  color: #242424;
  font-size: 46px;
  font-family: "Barriecito", serif;
  pointer-events: none;
}

.board-btn:hover {
  box-shadow: rgba(123, 123, 130, 0.25) 0px 13px 27px -5px,
    rgba(163, 142, 142, 0.3) 0px 8px 16px -8px;
}

.log {
  max-width: 20rem;
  color: darkslategray;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
  font-family: "Barriecito", serif;

}

.log li {
  border-radius: 4px;
  /* animation: slide-in-from-left 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */
  margin: 0.75rem;
}

.log li.highlighted {
  background-color: #3f3b00;
  color: white;
}